@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:wght@300;400;500;600;700&display=swap");
body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(186, 186, 186, 0.7),
      rgba(226, 48, 4, 0)
    ),
    url("assets/backdrops/less_blur_backdrop.png");
  background-position: center;
  background-size: cover;
  position: relative;
}
.headerCS {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(186, 186, 186, 0.7),
      rgba(226, 48, 4, 0)
    ),
    url("assets/backdrops/BlurryBackdrop_CS.png");
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  flex: 1;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff; /* Corrected color value */
  text-decoration: none;
  font-size: 13px;
  cursor: pointer;
}

.nav-links ul li:after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f82b1d;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.hero_Text {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero_Text h1 {
  font-size: 62px;
  padding-top: 75px;
}

.hero_Text p {
  margin: 10px 0 40px;
  font-size: 18px;
  color: #fff;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hero-btn:hover {
  border: 1px solid #fff;
  background: #f44336;
  transition: 0.5s;
}

nav .fa {
  display: none;
}

.MainBracket {
  width: 100%;
}

@media (max-width: 700px) {
  .hero_Text h1 {
    font-size: 40px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: absolute;
    background: #f44336;
    height: 100%;
    width: 200px;
    top: 0;
    right: 0;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: 1s;
  }
  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }

  .nav-links ul {
    padding: 30px;
  }
}

@media (min-width: 1300px) {
  .hero_Text h1 {
    font-size: 130px;
    padding-top: 150px;
  }
}

/*----------- description ---------*/

.description {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

p {
  color: #000000;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 30px;
  font-family: "Poppins", sans-serif;
}

/* this is the what when where section */

.WWW {
  max-width: 600px; /* Set the maximum width for the paragraph */
  margin: 0 auto; /* Center the element horizontally */
  padding: 10px; /* Optional: Add some padding for better readability */
  line-height: 1.6; /* Optional: Adjust line-height for better text spacing */
  text-align: center;
}

.degree_title_container {
  width: 100%;
  height: 10%;
  margin-bottom: 10px;
  margin-top: 10px;
  justify-content: center;
}

.degree_title {
  width: 80%;
  font-size: 15px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.select_degree {
  height: 100%vh;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 10%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  justify-content: space-around;
  align-items: center;
}

.degree_select {
  width: 100%;
  padding-bottom: 30px;
}

/*
.container_responsive {
  width: 100%;
  height: 650px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0px;
  background-color: #f9f9f9;
  overflow: scroll;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}*/

.card_container {
  width: 200px;
  height: 300px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  background-color: #f9f9f9;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 20px;
  padding-bottom: 10px;
  align-items: center;
}
.card_container:hover {
  transition: transform 0.3s;
  transform: scale(1.15);
  cursor: pointer;
  background-color: rgba(237, 237, 237, 0.936);
}

.row1 {
  width: 100%;
  height: 200px;
  margin-top: 50px;
  padding-left: 80px;
}
.row2 {
  width: 100%;
  height: 200px;
  margin-top: 65px;
  padding-left: 80px;
}
.col {
  display: inline-block;
  margin: 25px;
  overflow: hidden;
}

.Shirts {
  height: 65%;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.6s;
  -o-transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  padding: 20px;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}
@media (max-width: 2000px) {
  .select_degree {
    width: 90%;

    gap: 5px;

    justify-content: space-evenly;

    align-items: center;

    margin: auto;
  }

  .card_container {
    width: calc(20% - 12.5px);

    flex: 0 0 calc(40% - 2.5px);

    max-width: calc(20% - 12.5px);
  }

  .image {
    height: 40%;

    width: 60%;

    display: flex;

    justify-content: center;

    padding-bottom: 10px;
  }

  .degree_title h3 {
    font-size: 12px;
  }
}

@media (max-width: 1100px) {
  .select_degree {
    width: 90%;
    gap: 5px;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
  }

  .card_container {
    width: calc(25% - 2.5px);
    flex: 0 0 calc(40% - 2.5px);
    max-width: calc(25% - 2.5px);
  }

  .image {
    height: 40%;
    width: 60%;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
  }

  .degree_title h3 {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .select_degree {
    width: 90%;
    gap: 5px;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
  }

  .card_container {
    width: calc(40% - 2.5px);
    flex: 0 0 calc(40% - 2.5px);
    max-width: calc(40% - 2.5px);
  }

  .image {
    height: 40%;
    width: 60%;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
  }

  .degree_title h3 {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .select_degree {
    width: 90%;
    gap: 5px;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
  }

  .card_container {
    width: calc(40% - 2.5px);
    flex: 0 0 calc(40% - 2.5px);
    max-width: calc(40% - 2.5px);
  }

  .image {
    height: 40%;
    width: 60%;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
  }
  .Shirts {
    width: auto;
    height: 55%;
  }

  .degree_title h3 {
    font-size: 12px;
  }
  .degree_title_container {
    padding-bottom: 0;
  }
}
.footer {
  background-color: #24262b;
  padding: 70px;
  flex-direction: row;
}

.footer_container {
  max-width: 1170px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.f_column {
  width: 200px;
  padding: 0 15px;
  padding-left: 30px;
  padding-bottom: 30px;
}

.f_column h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}
.f_column h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 100%;
}

.footer_logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
}

.f_column ul li:not(:last-child) {
  margin-bottom: 10px;
}

.f_column p {
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  padding-left: 0;
}
.f_column ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.6s ease;
}
.f_column ul li a:hover {
  color: #ffffff;
  padding-left: 10px;
}

.f_column .social-links {
  margin-left: 40%;
}

.f_column .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-decoration: none;
  border-radius: 50%;
  color: #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.f_column .social-links a:hover {
  background-color: #ffffff;
  color: #24262b;
}
.footer_champ {
  font-weight: bold;
}

@media (max-width: 480px) {
  .f_column .social-links {
    display: flex;
    margin: 0;
  }
}

/* -- sign up form -- */

.sign-up-form {
  background-color: #f4f4f9;
  padding: 40px 20px;
  border-radius: 8px;
  max-width: 900px;
  margin: 0 auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Container */
.sign-up-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.sign-up-form-title {
  text-align: center;
  padding: 10px;
  padding-bottom: 20px;
}

/* Image container */
.image-container {
  flex: 1;
  max-width: 40%;
  padding-top: 300px;
}

/* fix this shit */

@media (max-width: 480px) {
  .CupLift {
    width: 50%;
  }
}

.image-container img {
  width: 100%;
  max-height: 400px;
}

/* Form  */
#survey-form {
  flex: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.survey_form_styling {
  padding-left: 30px;
}

/* Label */
#survey-form label {
  font-weight: bold;
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
}

/* Input */
#survey-form input[type="text"],
#survey-form input[type="email"],
#survey-form select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: #fff;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

#survey-form input[type="text"]:focus,
#survey-form input[type="email"]:focus,
#survey-form select:focus {
  border-color: #007bff;
  outline: none;
}

/* Dropdown */
#survey-form select {
  appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="%23333" stroke-width="2" d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px;
  cursor: pointer;
}

/* Submit button */
.submitbutton {
  width: 100%;
  padding: 14px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.6s ease;
}

.submitbutton:hover {
  background-color: #d92121;
}

/* responsiveness */
@media (max-width: 768px) {
  .sign-up-container {
    flex-direction: column;
    align-items: center;
  }

  .image-container {
    max-width: 80%;
    margin-bottom: 20px;
  }

  .image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .CSknockouts {
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
  }
}

.matchesFixedBackground {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(186, 186, 186, 0.7),
      rgba(226, 48, 4, 0)
    ),
    url("assets/backdrops/less_blur_backdrop.png");
  background-position: center;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* WEEK 1 */

.matches_Text {
  font-size: 75px;
  color: #fff;
}

.Card_Text {
  font-size: 20px;
  color: #fff;
}

.Qualifiers {
  font-size: 75px;
  color: rgb(255, 255, 255);
  text-align: center;
  justify-content: center;
  line-height: 130px;
}

@media (max-width: 900px) {
  .Qualifiers {
    font-size: 30px;
    line-height: 60px;
  }

  .matches_Text {
    font-size: 40px;
    padding: 10px;
    width: auto;
  }
}

@media (max-width: 2000) {
  .Qualifiers {
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 200px;
  }

  .matches_Text {
    font-size: 40px;
    padding: 10px;
    width: auto;
    padding-bottom: 200px;
  }
}

.USLCUP_title {
  font-size: 130px;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 100px;
  justify-content: center;
  line-height: 130px;
}

.Tobe {
  padding: 40px;
}

.week1Header {
  text-align: left;
  padding-left: 40px;
}

.week1Container {
  min-height: 40vh;
  width: 100%;
  display: flex;
  justify-content: left;
  gap: 10px;
  row-gap: 10px;
  align-items: centre;
  flex-wrap: wrap;
}
.DegreeHeader {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  text-align: center;
}
.time {
  font-size: 40px;
  text-decoration: solid;
  text-align: left;
  justify-content: left;
}
.location {
  text-align: left;
  font-size: 28px;
}

.week1CardContainer {
  width: 200px;
  height: 300px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 20px;
  align-items: flex-start;
  margin: 50px;
  position: relative;
}
.week1HeaderContainer {
  width: 100%;
  height: 80px;
  padding-left: 30px;
  padding-top: 30px;
}
.label {
  width: 130px;
  height: 40px;
  top: -20px;
  background-color: rgb(213, 32, 32);
  position: absolute;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Week 2 */

.week2Header {
  text-align: right;
  padding-right: 20px;
}

.week2Container {
  min-height: 40vh;
  width: 100%;
  display: flex;
  justify-content: right;
  gap: 40px;
  row-gap: 10px;
  align-items: centre;
  flex-wrap: wrap;
}

.week2CardContainer {
  width: 200px;
  height: 300px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  background-color: #f9f9f9;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 20px;
  padding-bottom: 10px;
  align-items: center;
  padding-left: 20px;
  padding-right: 30px;
}
.week2HeaderContainer {
  width: 100%;
  height: 80px;
  padding-left: 900px;
  padding-top: 30px;
  padding-right: 30px;
}
.matches_Text_Week2 {
  justify-content: right;
  text-align: right;
  font-size: 75px;
  color: #fff;
}

.red-bg {
  background-color: #ff3131;
}
.tos {
  color: white;
  padding: 20px;
}
.tos p {
  color: white;
}

.about_us_paragraph {
  padding: 40px;
  color: white;
}

.about_us_1 {
  max-width: 50%;
  max-height: 50%;
  display: block;
  margin: auto;
  padding-bottom: 20px;
}
